.container1{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    height: 80vh;
    position: relative;
}
.certification{
    height: 100%;
}
.box{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(1,1,1,10%);
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(0,1fr));
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.box:hover{
    box-shadow: 0 0 10px ;
    transform: scale(1.01);
}
.certification-image{
    display: flex;
    padding: 2px;
    border-radius: 20px;
}
.image{
    border-radius: 20px;
    height: 100%;
    width: 300px;
}
.image:hover {
    cursor: pointer;
}
.modal {
    position: fixed;
    top: 0;
    left: 25%;
    right: 25%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal .sticky{
    display: none;
}

