.container{
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}
.message {
    margin: auto;
    color: #BDD1BD;
    font-size: 60px;
    width: 50%;
}
.text{
    color: #9b87ac;
    width: 101%;
}
.models {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.sphere{
    position: absolute;
    width: 100%;
    height: 90vh;
}
.Me {
    top: 0;
    position: absolute;
    height: 85vh;
    width: auto;
    left: 30%;
    animation-name: me-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes me-animation {
    0% {
        transform: translate(0px, 0%);

    }
    50% {
        transform: translate(0px,5%);
    }
    100% {
        transform: translate(0px,0%);
    }
}
.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}